/** Add css rules here for your application. */

.homeBtn{
	background-color: #dadbfe;
	border-bottom: 1px solid #0041ab;
	border: none;
	height: 50px;
	width: 100px;
	font-weight: bold;
}

.otherBtn{
	background-color: white;
	border-bottom: 1px solid #0041ab;
	border: none;
	height: 40px;
	width: 100px;
}

.verticalPanel{
	width: 100px;
	border-right: 1px solid #0041ab;
	align: center top;
}

.table{
	
}

.map{
	
}

/** EXAMPLE RULES used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
