/** Add css rules here for your application. */

.homeBtn{
	background-color: #dadbfe;
	border: none;
	border-bottom: 1px solid #0041ab;
	font-size: 10pt;
	height: 50px;
	width: 100px;
	font-weight: bold;
	font-family: serif;
}

.otherBtn{
	background-color: white;
	border: none;
	border-bottom: 1px solid #0041ab;
	height: 40px;
	width: 100px;
	font-size: 10pt;
	font-family: serif;
}

.verticalPanel{
	width: 100px;
	border-right: 1px solid #0041ab;
	align: center top;
}

.message{
	background-color: white;
	font: serif italic 10pt balck;
	
}

.table{
	height: 600px;
	width: 600px;
	padding: 10px;
}

.map{
	height: 600px;
	width: 600px;
	padding: 10px;
}

.tabPanel{
	border: 1px solid black;
	padding: 10px;
}
